/******************************************************************
STYLESHEET: ITEM

******************************************************************/

.item {
    padding: 1em 0;

    @include large {
        width: 40%;
        display: inline-block;
        margin-right: 9%;
    }
}