/******************************************************************
STYLESHEET: TECHNOLOGIES

******************************************************************/

.technology {

    @include medium {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -40px;
        width: 80px;
        height: 100%;
    }

    &__icon {

        @include medium {
            position: absolute;
            left: 0;
            width: 100%;
            height: 80px;

            &:before {
                content: "";
                display: table;
                background-color: $c1-second;
                color: $c-white;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-origin: center;
                transform: rotate(45deg);
                z-index: -1;
            }

            &--1 {
                top: 50%;
                margin-top: -143px;

                &:hover {

                    & > .technology__text {
                        visibility: visible;
                        opacity: 1;
                        background-color: $c1-second;
                        animation: slide-in 0.3s;
                    }
                }
            }

            &--2 {
                top: 50%;
                margin-top: -30px;

                &:hover {

                    & > .technology__text {
                        visibility: visible;
                        opacity: 1;
                        background-color: $c1-second;
                        animation: slide-in 0.3s;
                    }
                }
            }

            &--3 {
                top: 50%;
                margin-top: 83px;

                &:hover {

                    & > .technology__text {
                        visibility: visible;
                        opacity: 1;
                        background-color: $c1-second;
                        animation: slide-in 0.3s;
                    }
                }
            }

            .icon {
                background-color: $c-white;
                display: block;
                width: 50px;
                height: 50px;
                margin: 15px auto;
                border-radius: 50%;
            }
        }
    }

    &__text {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 160%;
        top: 50%;
        margin-top: -35px;
        height: 70px;
        color: $c-white;
        font-family: $f-heading;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.4em 2em;
        transition: all 0.1s ease-in;

        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            right: -8px;
            top: 50%;
            margin-top: -8px;
            border-left: 8px solid $c1-second;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        right: 200%;
    }
    60% {
        right: 150%;
    }
    100% {
        opacity: 1;
        right: 160%;
    }
}