/******************************************************************
STYLESHEET: TYPOGRAPHY

******************************************************************/

@font-face {
  font-family: 'FuturaBold';
  src: url('../fonts/futura-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/futura-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);