/******************************************************************
STYLESHEET: LINKS

******************************************************************/

a {
    color: inherit;
	font-family: $f-link;
    text-decoration: none;
}