/******************************************************************
STYLESHEET: CONTENT

******************************************************************/

.container {
    position: relative;

    @include medium {

        &:after {
            content: "";
            display: block;
            background-color: $c1-main;
            position: absolute;
            top: 0;
            left: 50%;
            bottom: 0;
            width: 50%;
            height: 100%;
            z-index: -5;
        }
    }
}

.section {
    width: 95%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;

    @include medium {
        width: 90%;
        padding-top: 5em;
        padding-bottom: 5em;
    }

    @include large {
        padding-top: 8em;
        padding-bottom: 8em;
    }

    @include xlarge {
        width: 80%;
        max-width: 1520px;
    }

    &--contact {

        .col--left {
            padding-top: 2em;
        }

        @include large {
            padding-top: 12em;
        }
    }
}
