/******************************************************************
STYLESHEET: FOOTER

******************************************************************/

.footer {
    width: 95%;
    margin: 2em auto 1em;

    @include medium {
        width: 90%;
        margin: 4em auto 2em;
    }

    @include xlarge {
        width: 80%;
        max-width: 1520px;
    }

    .copy,
    .links a {
        color: $c4-main;
        font-family: $f-heading;
        letter-spacing: 1px;
        display: inline-block;
    }

    .links {
        float: right;
        margin: 1em 0;

        & a:hover {
            color: $c2-second;
            transition: color 0.2s;
        }
    }

    span {
        color: $c4-main;
        font-family: $f-heading;
        margin: 0 0.2em;
    }
}
