/******************************************************************
STYLESHEET: PROJECTS

******************************************************************/

.img {
    width: 100%;

    &-wrapper {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}
